.table{
    margin: 0%;
    padding: 0%;
    width: 80%;
    text-align: center;
    border: rgb(255, 255, 255) solid;
}

.heading{
    background-color: rgb(228, 18, 18);
    color: rgb(33, 21, 21);
    line-height: 250%;
    font-size: larger;
}

.footer{
    color: white;
    background-color: blue;
}

.table2{
    margin: 0%;
    padding: 0%;
    background-color: transparent ;
    line-height: 280%;
    text-align: center;
    border-collapse: collapse;
    width: 70%;
    color: white;
}